@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Londrina+Solid&family=Permanent+Marker&display=swap');

.breathless {

    @mixin csh_font {
        font-family: 'Londrina Solid', cursive;
        text-transform: uppercase;
    }

    @mixin csf_font {
        font-family: 'Permanent Marker', cursive;
    }

    @mixin sheet_section_space {
        margin-bottom: 10px;
    }

    @mixin button_reset {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
    
        background: transparent;
    
        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;
    
        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;
    
        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
    
        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;
    }

    .charsheet-section {
        margin-bottom: 10px;
    }

    .header_title {
        @include sheet_section_space();
        @include csh_font();
        text-align: center
    }

    .header_section {
        @include sheet_section_space();
        
        input[type=text] {
            @include csf_font();
            width: 100%;
            padding: 12px 5px;
            margin: 5px 0;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 2px solid black;
            font-size: 1.5em;
        }
    
        label {
            @include csh_font();
            font-size: 1.5em;
            align-self: center;
        }

        .header_buttons {
            display:flex;
            flex-direction:column;
            flex-grow:1;
            align-items:center;
            justify-content:space-evenly !important;

            button {
                @include button_reset();
                border:2px solid black;
                padding-left:12px;
                padding-right:12px;
                color:white;
                border-style:inset;
                background:black;
                border-radius:2px;
                font-size:1.25em;
                text-align:center;
            }
        }
    }

    .csf {
        font-family: 'Permanent Marker', cursive;
    }

    .csh {
        font-family: 'Londrina Solid', cursive;
        text-transform: uppercase;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .window-content {
        background-color: #f1e9db;
        background-image: url("../assets/grunge1kt.png") !important;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    h1,h2,h3,h4,h5 {
        border: none;
        text-decoration: none;
        margin: 0px;
        align-self: center;
    }

    .charsheet-box {
        border: 2px dotted rgb(61, 61, 61);
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        padding-bottom: 0px;
        margin-right: 6px;
        text-align: center;
        font-size: 1.5em;
        min-width: 60px;
    }

    .item {
        margin-bottom: 10px;
    }

    .item-controls {
        color: #877e70;
        margin: 0px 0px 0px 15px;
    }

    .item-block {
        align-items: center;
        border: 2px solid #877e7061;
        border-radius: 10px;
        gap: 6px;
        padding: 5px 10px 5px 10px;
    }

    .item-name {
        text-transform: uppercase;
        display: inline;
        top: 40%;
        margin: 0px;
    }

    .caps {
        text-transform: uppercase;
    }
}