* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.breathless .window-content {
    background:#f1e9db;
}

.bg-blue {
    background-color:rgb(79, 79, 207);
}

.bg-red {
    background-color:rgb(199, 84, 84);
}

.bg-green {
    background-color:rgb(56, 136, 56);
}

.bg-gray {
    background-color:gray
}

.bg-yellow {
    background-color:yellow'
}

/* .breathless .flex-col {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
  
}

.breathless .flex-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
  
}

.breathless .flex-item {
    border:none;
    background:none;
    color:black;
    font-size:1em;
    margin-top:8px;
    margin-left:6px;
    margin-right:6px;
    height:auto;
    flex:1;
    width:32%;
    align-items:flex-start;
} */
  