@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Londrina+Solid&family=Permanent+Marker&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Turret+Road&display=swap'); */

.csf {
   font-family: 'Permanent Marker', cursive;
   /* font-family: 'Turret Road', cursive; */
}

.csh {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.breathless .window-content {
    background-color:#f1e9db;
    background-image: url("../assets/grunge1kt.png") !important;
    background-position:right bottom;
    background-repeat:no-repeat;
}

h1,h2,h3,h4,h5 {
    border:none;
    text-decoration:none;
}

.charsheet-section {
    margin-bottom:16px;
}

.charsheet-line {
    border-bottom:2px solid black;
    font-size:1.5em;
}

.charsheet-box {
    border: 2px dotted rgb(61, 61, 61);
    padding-left:6px;
    padding-right:6px;
    padding-top:3px;
    padding-bottom:0px;
    margin-right:6px;
    text-align:center;
    font-size:1.5em;
}

.item {
    margin-bottom:12px;
}

.caps {
    text-transform:uppercase;
}
