* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.breathless .window-content {
    background:#f1e9db;
}

/* .breathless .flex-col {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
  
}

.breathless .flex-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
  
}

.breathless .flex-item {
    border:none;
    background:none;
    color:black;
    font-size:1em;
    margin-top:8px;
    margin-left:6px;
    margin-right:6px;
    height:auto;
    flex:1;
    width:32%;
    align-items:flex-start;
} */
  