.charsheet-section {
    @include csf_font();

    .left_column {
        margin-right:24px;
    }

    .item-section-header {
        @include csh_font();
        margin-bottom: 5px;
        padding-top: 10px;

        button {
            @include button_reset();
            color: #beb19b;
            font-size: 2em;
        }
    }

    h2 {
        display: inline;
        font-size: 2em;
    }
}

.resource-bar {
    background-color: #00000015;
    border-top: 2px solid #00000047;
    padding-top: 5px;
    border-bottom: 2px solid #00000047;
}

.actor-sheet-header {
    @include sheet_section_space();
    flex: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .profile-img {
        flex: 0 0 150px;
        height: 150px;
        margin-right: 10px;
        object-fit: contain;
    }

    .header-fields {
        flex: 1;
    }

    .header_title {
        @include sheet_section_space();
        @include csh_font();
        text-align: center;
    }
    
    .header_section {
        
        input[type=text] {
            @include csf_font();
            width: 100%;
            padding: 12px 5px;
            margin: 5px 0;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 2px solid black;
            border-radius: 0;
            font-size: 1.5em;
        }
    
        label {
            @include csh_font();
            font-size: 1.5em;
            align-self: center;
        }
    
        .header_buttons {
            @include csh_font();
            margin-left: 5px;
            display:flex;
            flex-direction:column;
            flex-grow:1;
            align-items:center;
            justify-content:space-evenly !important;
    
            button {
                @include button_reset();
    
                border:2px solid black;
                padding-left:12px;
                padding-right:12px;
                color:white;
                border-style:inset;
                background:black;
                border-radius:5px;
                font-size:1.25em;
                text-align:center;
                text-transform: uppercase;
            }
        }
    }

}

.notes {
    border-radius: 5px;
    border: 2px solid #00000047;
    height: 135px;
    padding: 0 5px 0 5px;

    .editor {
        height: 100%;
    }
}

.stress_box {
    position: relative;
    @include csh_font();
    
    .stress {
        align-items:center;
        gap:6px;

        a {
            font-size:3em;
        }
    }

    .vulnerable_message {
        position: absolute;
        font-size: 1em;
        left: 5px;
        top: 38px;
        color: rgb(103, 38, 38);
    }
}

.single-circle-button-group {
    align-items:center;
    gap:12px;

    h2 {
        @include csh_font();
        text-align: right;
    }

    a {
        font-size: 3em;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.window-content {
    background-color: #f1e9db;
    background-image: url("../assets/grunge1kt.png") !important;
    background-position: right bottom;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5 {
    border: none;
    text-decoration: none;
    margin: 0px;
    align-self: center;
}

.item-block {
    align-items: center;
    border: 2px solid #877e7061;
    border-radius: 10px;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 8px;

    .item-dice-box, .item-dice-box-initial {
        border: 2px dotted rgb(61, 61, 61);
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        padding-bottom: 0px;
        text-align: center;
        font-size: 1.5em;
        min-width: 60px;
    }

    .item-dice-box {
        background-color: #ffffff2e;
    }

    .item-dice-box-initial {
        background:rgba(188, 179, 164, 0.793); 
        color:#6b6356;
    }

    .item-controls {
        color: #877e70;
        margin: 0px 0px 0px 10px;
    }

    input[type=text] {
        border: none;
        background: none;
        font-size: 1.5em;
        text-transform: uppercase;
    }

}

.sheet-header {

    h1 {
        @include csh_font();
    }
}

.dice {
    @include csh_font();
    align-items:center;
    gap:6px;

    h4 {
        text-align: right;
    }

    select {
        @include csf_font();
        text-align:center;
    }
}

.roll-name {
    @include csh_font();
    font-size:2em;
    text-transform:uppercase;
}

.roll-outcome {
    @include csf_font();
    text-align:center;
    border:1px solid rgb(71, 70, 65);
    border-radius:3px;
    background:rgb(177, 176, 163);
    font-size:1.5em;
}

.roll-result {
    @include csf_font();
    font-size:1.5em;
}

.npc {
    @include csf_font();
    height: 100%;

    header {
        height: 100%;
        
        input[type=text] {
            @include csh_font();
    
            text-align: center;
            font-size: 2em;
            text-transform: uppercase;
            margin: 5px 0;
            padding: 20px;
        }

        textarea {
            @include csf_font();
            resize: none;
        }
    }

    .notes {
        height: 215px;
    }

}