<form class="breathless roll-dialog">
  <header class="roll-header taskroll-info flexrow">
    <h3 class="roll-name csh flex2" style="font-size:2em; text-transform:uppercase">{{roll_name}} ROLL (1{{roll_die}})</h3>
  </header>
  <div class="taskroll-msg flexcol">
    <div class="breathless flexrow" style="align-items:center">
      <div class="csf" style="font-size:1.5em">RESULT: {{roll_result}}</div>
    </div>
    <div>
      <div class="csf" style="text-align:center; border:1px solid rgb(71, 70, 65); border-radius:3px; background:rgb(177, 176, 163); font-size:1.5em">{{roll_outcome}}</div>
    </div>
  </div>
</form>